---
import Heading from '../Base/Heading.astro';
import Button from '@components/Base/Button.astro';
import FaqIcon from '@assets/images/icons/faq.svg';
import ArrowIcon from '@assets/images/icons/mono/arrow.svg';
import { Picture } from 'astro:assets';

const faqs = [
  {
    question: 'Is CSS a marketplace?',
    answer:
      'No, CSS is not a marketplace software. It functions as a comprehensive platform providing tools for order and inventory management, invoice processing, and communication facilitation among users. It employs SaaS (Software as a Service) technology and AI assistance to enhance operational efficiency for both restaurants and food vendors, focusing on streamlining their internal processes rather than serving as a traditional marketplace where goods are exchanged directly between buyers and sellers.',
  },
  {
    question: 'What type of support does CSS offer?',
    answer:
      'Chain Service Solutions offers quick and efficient support to its users, including in-app chat, email, or phone support. Premium suppliers have a dedicated team to onboard all their customers to CSS, as well as personalized training for their team.',
  },
  {
    question: 'How much does CSS cost?',
    answer:
      'As CSS launches its industry-leading low-cost subscription plan, it stands out as the best value compared to existing applications with fewer features. CSS offers the most comprehensive and affordable solution for every level of the foodservice supply chain.',
  },
  {
    question: 'How do I learn more about CSS?',
    answer:
      'Instructions about filling the survey and scheduling a demo with a calendar appointment.',
  },
  {
    question: 'How does my company get onboarded?',
    answer:
      'After onboarding, the user is given a database containing a product list, client list, invoice list, and order list.',
  },
  {
    question: 'Which devices, operating systems, and browsers are supported?',
    answer:
      'CSS supports Windows, iOS, macOS, Linux, Android; optimized for all modern browsers.',
  },
  {
    question: 'Is my data secure on CSS?',
    answer:
      'The platform uses industry-leading security measures to protect user data.',
  },
  {
    question: 'Who do I contact if I need support?',
    answer:
      'First response via AI Assistant, escalation to human support through dashboard options.',
  },
  {
    question: 'What about pricing?',
    answer:
      'CSS offers affordable plans tailored to business needs, with details available during the demo.',
  },
];
---

<section class='bg-brand-blue-400 pb-24 pt-20'>
  <div class='container grid items-start gap-10.5 md:grid-cols-[200px_1fr]'>
    <div
      class='flex flex-wrap items-center justify-between gap-14 self-start md:flex-col md:items-start md:justify-center'
    >
      <div
        class='flex h-20 w-20 items-center justify-center rounded-full bg-white'
      >
        <Picture src={FaqIcon} formats={['avif', 'webp']} alt='FAQs' />
      </div>

      <Heading
        tag='h2'
        size='2xl'
        class='order-first font-light uppercase md:order-none'>Faq</Heading
      >

      <Button
        aria-haspopup='dialog'
        aria-expanded='false'
        aria-controls='сalendly-modal'
        data-hs-overlay='#сalendly-modal'
        class='w-full md:w-auto'>Schedule Demo</Button
      >
    </div>

    <div
      class='hs-accordion-group flex flex-col gap-2'
      data-hs-accordion-always-open
    >
      {
        faqs.map((faq, index) => (
          <div
            class={`hs-accordion rounded-xl bg-white ${
              index === 0 ? 'active' : ''
            }`}
            id={`faq-heading-${index}`}
          >
            <button
              class='hs-accordion-toggle flex w-full items-center gap-4 border-b border-solid border-transparent leading-tight ~px-3.5/6 ~py-3.75/6 hs-accordion-active:border-brand-gray-100'
              aria-expanded={index === 0 ? 'true' : 'false'}
              aria-controls={`faq-collapse-${index}`}
            >
              <ArrowIcon class='block stroke-brand-orange-900 hs-accordion-active:hidden' />
              <ArrowIcon class='hidden rotate-180 stroke-brand-gray-900 hs-accordion-active:block' />

              <Heading tag='h3' size='lg' class='text-left'>
                {faq.question}
              </Heading>
            </button>

            <div
              id={`faq-collapse-${index}`}
              class={`hs-accordion-content w-full overflow-hidden transition-[height] duration-300 ${
                index !== 0 ? 'hidden' : ''
              }`}
              role='region'
              aria-labelledby={`faq-heading-${index}`}
            >
              <p class='text-lg font-light text-brand-gray-900 ~pt-3/6 ~pr-3/20 ~pb-5.5/8 ~pl-3/16.5'>
                {faq.answer}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
