---
import Heading from '@components/Base/Heading.astro';
import Button from '@components/Base/Button.astro';
import IpadMacbook from '@assets/images/ipad-macbook.png';
import IpadIphone from '@assets/images/ipad-iphone.png';
import { Picture } from 'astro:assets';

interface Props {
  variant?: 'default' | 'solutions';
  title?: string;
  description?: string;
  topText?: string;
}

const {
  variant = 'default',
  title = 'The Business Ecosystem for Foodservice Industry',
  description = 'The evolution solution feeding your business 24/7.',
  topText,
} = Astro.props as Props;

const imageSrc = variant === 'solutions' ? IpadIphone : IpadMacbook;
const imageAlt = variant === 'solutions' ? 'ipad iphone' : 'ipad macbook';
const size =
  variant === 'solutions'
    ? 'max-h-[300] sm:max-h-[460px]'
    : 'sm:max-h-[320px] md:max-h-[480px] lg:max-h-[560px] xl:max-h-[648px]';
---

<section
  class=`relative overflow-hidden bg-brand-orange-900 pb-8 text-white sm:h-screen ${size}`
>
  <div class='container relative z-10 grid h-full grid-cols-12'>
    <div class='col-span-12 flex flex-col gap-8 ~pt-0/22.5 sm:col-span-7'>
      {
        topText && (
          <div class='text-brand-orange-200 text-sm font-medium uppercase tracking-wide'>
            {topText}
          </div>
        )
      }

      <Heading size='2xl' class='text-white'>
        {title}
      </Heading>

      <div class='leading-8 ~text-base/2xl'>
        {description}
      </div>

      <div class='flex flex-col gap-8 sm:flex-row sm:items-center'>
        <Button variant='secondary' class='order-last self-start sm:order-none'
          >Schedule Demo</Button
        >
        {
          variant === 'default' && (
            <a
              href='#'
              class='text-lg font-medium tracking-002 underline-offset-4 hover:underline'
            >
              Learn More
            </a>
          )
        }
      </div>
    </div>
  </div>

  <Picture
    src={imageSrc}
    formats={['avif', 'webp']}
    alt='The Business Ecosystem for Foodservice Industry'
    class='absolute bottom-0 right-0 z-0 hidden h-auto w-5/12 max-w-full object-cover object-right-bottom sm:block'
  />
</section>
